.is-hide [data-p="paragraph"] {
  display: none;
}

.is-show [data-p="paragraph"] {
  display: inline;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .about__wrapper {
//   display: flex;
//   padding: 30px 350px 100px 350px;

//   @media (max-width: 1490px) {
//     padding: 30px 150px 90px 150px;
//   }

//   @media (max-width: ($vp-1024 - 1px)) {
//     padding: 54px 46px 80px 45px;
//   }

//   @media (max-width: ($vp-770 - 1px)) {
//     padding: 0 24px 80px;
//   }
// }
.about__wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 100px;
  padding: 30px 350px 100px 350px;

  @media (max-width: 1490px) {
    padding: 30px 150px 90px 150px;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    gap: 30px;
    padding: 54px 46px 80px 45px;

  }

  @media (max-width: ($vp-770 - 1px)) {
    display: block;
    padding: 0 24px 80px;

  }
}

.about__image {
  align-self: baseline;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 2px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    display: none;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
}

.about__content h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-default;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;

  @media (max-width: ($vp-770 - 1px)) {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__content p {
  margin: 0;
  font-family: $ff-pt-mono;
  font-weight: $fw-default;
  font-size: $fz-default;
  ;
  line-height: 22px;
  color: $color-black-pearl;

  @media (max-width: ($vp-770 - 1px)) {
    font-size: $fz-small;
    ;
    line-height: 19px;
  }
}


.is-hide [data-span="span-visible"] {
  display: inline;

  @media (max-width: ($vp-770 - 1px)) {
    display: none;
  }
}


.is-show [data-span="span-visible"] {
  display: inline;

  @media (max-width: ($vp-770 - 1px)) {
    display: none;

    display: inline;
  }
}

.about__button {
  align-self: flex-start;
  margin-top: 40px;
  padding: 13px 50px 13px 50px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-bold;
  font-size: $fz-small;
  ;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-blue-sky;
  background-color: transparent;
  border: 1px solid $color-deep-blue-sky;
  border-radius: 3px;
  cursor: pointer;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 13px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    padding: 9px 40px;
  }
}

.about__button:hover,
.about__button:focus {
  outline: none;
  background-color: $color-deep-blue-sky ;
  color: $color-alice-blue;
}

.about__button:active {
  background-color: $color-prussian-blue ;
  border: 1px solid $color-prussian-blue;
  color: $color-alice-blue;
}
