.connection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 165px 50px 250px;
  background-color: $color-deep-blue-sky;

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 46px 79px 125px 79px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    padding: 48px 25px 89px;
  }
}

.connection::before {
  display: block;
  position: absolute;
  content: "";
  z-index: 0;
  left: 0;
  top: 0;
  width: 50.5%;
  height: 100%;
  background: $blue-to-black;

  @media (max-width: ($vp-1024 - 1px)) {
    display: none;
  }
}

.connection__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 110px;
}

.connection__image {
  align-self: center;
  margin-top: 21px;
  margin-right: auto;
  width: 100%;

  @media (max-width: 1221px) {
    display: none;
  }
}

.connection h2 {
  margin: 0;
  margin-left: -4px;
  margin-bottom: 13px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-default;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 0;
    margin-bottom: 6px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    font-size: 30px;
    line-height: 42px;
  }
}

.connection p {
  margin: 0;
  margin-bottom: 32px;
  font-size: $fz-default;
  line-height: 22px;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-bottom: 25px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    margin-bottom: 34px;
    font-size: $fz-small;
    line-height: 19px;
  }
}
