.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding: 50px 0 45px;
  background: #041827;

  @media (max-width: 1520px) {
    padding: 50px 10px;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    display: block;
    padding: 50px 50px 63px 50px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 0;
    padding-bottom: 35px;
  }
}

.footer__wrapper {
  display: flex;
  margin-left: -35px;
  // width: 1220px;
  // align-items: center;
  // justify-content: center;

  @media (max-width: ($vp-1024 - 1px)) {
    flex-direction: column;
    margin: 0;
    // width: 670px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    // width: 270px;
  }

}

.footer__links-wrapper {
  margin-right: 160px;

  @media (max-width: 1320px) {
    margin-right: 80px;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    display: flex;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 36px 27px 20px 25px;
  }
}

.footer__logo {
  display: flex;
  margin-bottom: 35px;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-bottom: 0;
    margin-right: auto;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
