.form {
  display: flex;
  flex-direction: column;
}

.form form {
  display: grid;
  width: 100%;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-areas:
    "name phone"
    "question question"
    "button checkbox";
  grid-template-rows: 50px 155px;
  grid-template-columns: 275px 275px;

  @media (max-width: ($vp-1024 - 1px)) {
    grid-template-rows: 50px 155px;
    grid-template-columns: repeat(2, 320px);
  }

  @media (max-width: ($vp-770 - 1px)) {
    display: flex;
    flex-direction: column;
  }
}

.form input[type="text"] {
  grid-area: name;
  padding: 15px;

  @media (max-width: ($vp-770 - 1px)) {
    padding: 14px;
  }
}

.form input[type="tel"] {
  grid-area: phone;
  padding: 15px;
}

.form textarea {
  grid-area: question;
  padding: 25px 15px;

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 30px 15px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    padding: 24px 15px;
    height: 180px;
  }
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  font-family: $ff-pt-mono;
  font-weight: $fw-default;
  font-size: $fz-default;
  line-height: 22px;
  color: $color-black-pearl;
}

.form input:hover,
.form input:focus {
  outline: 1px solid $color-black-pearl;
}

.form textarea:hover,
.form textarea:focus {
  outline: 1px solid $color-black-pearl;
}

.form input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid $color-white;
}

.form input::placeholder,
.form textarea::placeholder {
  font-family: $ff-pt-mono;
  font-weight: $fw-default;
  font-size: $fz-default;
  line-height: 22px;
  color: $color-white;
}

.form span {
  font-size: $fz-small;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.form__check {
  grid-area: checkbox;
  position: relative;
  margin-left: 8px;
  margin-top: 30px;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-left: -2px;
    margin-top: 24px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    margin-left: 2px;
    margin-top: 4px;
  }
}

.form__check label {
  display: flex;
  flex-direction: row;
  padding-left: 3px;
}

.form__check span {
  padding-left: 10px;
}

.form__check input {
  position: relative;
  appearance: none;
  display: block;
  width: 13px;
  height: 15px;
  margin: 0;
  margin-top: 8px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  cursor: pointer;
}

.form__check--modal input {
  margin-top: 2px;
}

.form__check--modal {
  margin-top: 0;

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 0;
  }
}

.form input[type="checkbox"]::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 7px;
  height: 5px;
  border-bottom: 1px solid $color-white;
  border-left: 1px solid $color-white;
  transform: rotate(-57deg);
}

.form input[type="checkbox"]:checked {
  &::after {
    content: "";
  }
}

.form button[type="submit"] {
  grid-area: button;
  justify-self: baseline;
  align-self: center;
  margin-top: 17px;
  padding: 13px 70px;
  background: $color-black-pearl;
  border: none;
  border-radius: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-bold;
  font-size: $fz-default;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 15px;
  }

  @media (max-width: ($vp-770 - 1px)) {
    margin-top: 9px;
  }
}

.form button[type="submit"]:hover,
.form button[type="submit"]:focus {
  outline: none;
  padding: 12px 69px;
  background: $color-deep-blue-sky;
  border: 1px solid $color-prussian-blue;
}

.form button[type="submit"]:active {
  background: $color-prussian-blue;
}
