.modal {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  display: none;
  justify-content: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal__layout {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(3, 16, 27, 0.7);
}

.modal__container {
  position: absolute;
  z-index: 111;
  display: none;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 38px 40px 47px 40px;
  box-sizing: border-box;
  background: $color-deep-blue-sky;
  border-radius: 3px;
  height: 620px;
  width: 500px;
  margin: 0 auto;
  transform: translateX(-8px);

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 30px 25px 30px 25px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 10px 15px 10px 15px;
  }
}

.modal.is-active {
  display: flex;
}

.modal.is-active > .modal__container {
  display: flex;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}

.modal__close {
  position: absolute;
  top: 4%;
  right: 6%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  top: 11px;
  left: 1px;
  content: "";
  width: 28px;
  height: 1px;
  background-color: $color-default-white;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .modal__close:hover {
    outline: none;
    box-shadow: 0 0 8px $color-deep-blue-sky;

    &::after,
    &::before {
      background-color: $color-prussian-blue;
    }
  }
}

.modal__close:focus-visible {
  outline: none;
  box-shadow: 0 0 8px $color-deep-blue-sky;

  &::after,
  &::before {
    background-color: $color-prussian-blue;
  }
}

.modal__close:active {
  &::after,
  &::before {
    background-color: $color-default-black;
  }
}

.modal h2 {
  margin: 0;
  margin-bottom: 4px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-default;
  font-size: 30px;
  line-height: 42px;
  color: $color-white;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 26px;
    line-height: 39px;
  }
}

.modal p {
  margin: 0;
  margin-bottom: 38px;
  width: 380px;
  font-family: $ff-pt-mono;
  font-size: $fz-default;
  line-height: 22px;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    width: 310px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 200px;
    margin-bottom: 20px;
    font-size: $fz-small;
    line-height: 19px;
  }
}

.modal form {
  display: flex;
  flex-direction: column;
  width: 420px;
  row-gap: 18px;

  @media (max-width: ($vp-1024 - 1px)) {
    width: 320px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 250px;
  }
}

.modal input[type="text"],
.modal input[type="tel"] {
  order: 1;
}

.modal textarea {
  order: 1;
  height: 157px;
}

.modal button[type="submit"] {
  order: 2;
  align-self: inherit;
  margin-top: 5px;
}

// .modal input[type="checkbox"] {
//   order: 3;
// }
