.services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 50px 140px;
  background-color: $color-black-pearl;

  @media (max-width: 1195px) {
    padding: 0 20px 140px;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 0 47px 74px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 0 23px 85px;
  }
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  width: 1224px;

  @media (max-width: ($vp-1024 - 1px)) {
    // width: 670px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    // width: 270px;
  }
}

.services h2 {
  margin: 66px 0 54px 2px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-default;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 56px 0 38px 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    display: none;
  }
}

.services h3 {
  display: none;

  @media (max-width: ($vp-768 - 1px)) {
    display: block;
    margin: 48px 0 29px 0;
    padding-right: 15px;
    font-family: $ff-roboto-condensed;
    font-weight: $fw-default;
    font-size: 28px;
    color: $color-white;
    line-height: 39px;
  }
}

// .services__list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 85px;
//   margin: 0;
//   padding: 0;
//   padding-right: 4px;
//   list-style-type: none;

//   @media (max-width: 1325px) {
//     gap: 20px;
//   }

//   @media (max-width: ($vp-1024 - 1px)) {
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 30px;
//   }
// }

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @media (max-width: ($vp-1024 - 1px)) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.services__item {
  position: relative;
  min-height: 650px;

  // height: 650px;
  // width: 350px;
  background-color: rgba(25, 32, 36, 0.7);

  // @media (max-width: 1150px) {
  //   height: 650px;
  //   width: 310px;
  // }

  @media (max-width: ($vp-1024 - 1px)) {
    min-height: 250px;

  //   height: 250px;
  //   width: 670px;
  }

  // @media (max-width: ($vp-768 - 1px)) {
  //   height: 250px;
  //   width: 270px;
  // }
}

.services__item p {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 18px 0 0 2px;
  width: 155px;
  font-family: $ff-roboto-condensed;
  font-weight: $fw-default;
  font-size: 20px;
  line-height: 30px;
  color: $color-white;

  @media (max-width: ($vp-1024 - 1px)) {
    margin: 13px 0 0 16px;
    width: 150px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin: 0;
    width: 135px;
    font-size: 18px;
  }
}

// .services__item:first-child p {
//   margin: 18px 0 0 2px;

//   @media (max-width: ($vp-1024 - 1px)) {
//     margin: 6px 0 0 7px;
//   }

//   @media (max-width: ($vp-768 - 1px)) {
//     margin: 0;
//   }
// }

.services__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
}

.services__decor {
  position: absolute;
  bottom: 0;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: $color-deep-blue-sky;
  border-radius: 3px 0 0 0;

  @media (max-width: ($vp-768 - 1px)) {
    width: 40px;
    height: 40px;
  }
}

.services__item:hover,
.services__item:focus {
  outline: none;
  box-shadow: 0 0 8px $color-deep-blue-sky;

  p {
    color: $color-deep-blue-sky;
  }
}

.services__item:active {
  box-shadow: 0 0 8px $color-alice-blue;

  p {
    color: $color-prussian-blue;
  }
}

.services__link {
  display: block;
  padding: 25px 32px;
  // height: 650px;
  // width: 350px;

  // @media (max-width: 1150px) {
  //   height: 650px;
  //   width: 310px;
  // }

  // @media (max-width: ($vp-1024 - 1px)) {
  //   height: 250px;
  //   width: 670px;
  // }

  // @media (max-width: ($vp-768 - 1px)) {
  //   padding: 24px 33px;
  //   height: 250px;
  //   width: 270px;
  // }
}

.services__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  // img {
  //   width: 100%;
  //   object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;


    // @media (max-width: 1150px) {
    //   height: 650px;
    //   width: 310px;
    // }

    // @media (max-width: ($vp-1024 - 1px)) {
    //   height: 250px;
    //   width: 670px;
    // }

    // @media (max-width: ($vp-768 - 1px)) {
    //   height: 250px;
    //   width: 270px;
    // }
  }
}
